body {
  margin: 0px;
  padding: 0px;
  background-color: darkgrey;
}
/*------------------------navbar-----------------------------------------*/

.navbar {
  background-color: black;
  /* position: fixed; */
  /* z-index: 1; */
  display: block;
  width: 100%;
  text-align: center;

}
ul {
  text-align: center;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;

}

li {
  display: inline;
}

li a {
  display: inline-block;
  color: white;
  padding: 14px 16px;
  text-decoration: none;
}

/* .navbar-left {
  display: inline;
} */

/* .navbar-right {
  text-align: center;
} */
.video2 {
  height: auto;
  width: 100%;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}

/* .video-header h1 {
  color: white;
  z-index: 1;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
} */

/*    - - - - - - - - - - - -  test video   -- - - - - - - -   */
.video-container {
  position: relative;
}
video {
  height: auto;
  vertical-align: middle;
  width: 100%;
}

.video-header {
  background: rgba(0,0,0,0);
  position: absolute;
  top: 0; right: 0; bottom: 0; left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}


.video-header h1 {
  color: white;
  font-family: 'Nobile', sans-serif;
  font-size: 9vw;
  text-align: center;
}

/*    - - - - - - - - - - - -  end video   -- - - - - - - -   */

.carousel-container {
  display: inline;
  float: left;
  width: 100%;
  height: 100%;
}

/*    - - - - - - - - - - - -  test   -- - - - - - - -   */
.row {

    margin: 0px auto;
    width:80%;
    height:100%;
    background:lightgrey;
}

.blue {

    border: 1px solid white;
    width: 18%;
    display:inline-block;
    margin: 5px;
}

.blue p {
  text-align: center;
  color: white;
}

.image {
  width: 100%;
}
/*    - - - - - - - - - - - -  end test   -- - - - - - - -   */
